<template lang="html">
    <v-card ref="form">
            <v-card-text>
                <v-form v-model="valid">
                    <input type="hidden" name="id" v-model="fbform.id">
                    <v-autocomplete
                        :items="profiles"
                        v-model="fbform.fb_profile"
                        :return-object="true"
                        label="Perfil de Facebook"
                        v-on:change="getFanpages()"
                        item-text="fb_name"
                        
                        v-if="profiles.length > 0"
                    ></v-autocomplete>
                    <v-autocomplete
                        :items="fanpages"
                        v-model="fbform.fb_fanpage"
                        :return-object="true"
                        label="Páginas del perfil"
                        v-on:change="getForms()"
                        item-text="name"
                        
                        v-if="fanpages.length > 0"
                    ></v-autocomplete>
                    <v-autocomplete
                        :items="forms"
                        v-model="fbform.fb_id"
                        :return-object="true"
                        label="Formularios de la página"
                        item-text="name"
                        
                        v-if="forms.length > 0"
                    ></v-autocomplete>
                    <v-text-field
                        name="name"
                        label="Nombre del formulario"
                        id="id"
                        v-model="fbform.name"
                    ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn v-on:click="$emit('close-dialog')">Cancelar</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" :loading="loader" v-on:click="onSubmit()">Envíar</v-btn>
            </v-card-actions>
        </v-card>
    
</template>

<script>
import componentResponsesMixin from '../mixins/component_responses';

export default {
    props: ['fbform','action'],
    mixins: [componentResponsesMixin],
    data(){
        return {
            valid: false,
            profiles: [],
            fanpages: [],
            forms: [],
            loader: false,
        }
    },
    mounted(){
        this.getProfiles();
        
    },
    methods: {
        onSubmit(){
            let action;

            let data = {
                fb_fanpage_id: this.fbform.fb_fanpage.id,
                fb_fanpage_name: this.fbform.fb_fanpage.name,
                fb_fanpage_access_token: this.fbform.fb_fanpage.access_token,
                fb_id: this.fbform.fb_id.id,
                fb_profile: this.fbform.fb_profile.id,
                name: this.fbform.name
            };

            if(this.action == "create"){
                action = axios.post('/form',data);
            }
            else if (this.action == "edit") {
                action = axios.put('/form/'+data.id,data);
            }

            this.loader = true;
            action.then((response) => {
                this.successResponse("El formulario ha sido guardado exitosamente");
                this.$emit('new-item');
                this.$emit('close-dialog');
            })
            .catch(this.errorResponse)
            .finally(() => this.loader=false);
        },
        getProfiles(){
            this.loader = true;
            axios.get('/profile')
            .then((response) => this.profiles = response.data.data)
            .catch(this.errorResponse)
            .finally(() => this.loader = false);
        },
        getFanpages(){
            if(this.fbform.fb_profile){
                this.loader = true;
                axios.get('/fanpage/'+this.fbform.fb_profile.id)
                .then((response) => this.fanpages = response.data)
                .catch(this.errorResponse)
                .finally(() => this.loader = false);
            }
        },
        getForms(){
            if(this.fbform.fb_fanpage){
                this.loader = true;
                axios.get('/fbform/'+this.fbform.fb_fanpage.access_token)
                .then((response) => this.forms = response.data)
                .catch(this.errorResponse)
                .finally(() => this.loader = false);
            }
        }
    }
}
</script>

<style lang="css">
</style>
