<template lang="html">
    <v-btn 
        class="primary" 
        :loading="loader" 
        @click="flow()">
            <slot></slot>
        <v-icon right>person_add</v-icon>
    </v-btn>
</template>

<script>
import componentResponsesMixin from '../mixins/component_responses';

export default {
    mixins: [componentResponsesMixin],
    data(){
        return {
            loader: false
        }
    },
    mounted() {
        
    },
    methods:{
        fb_init(){
            console.log("fb_init");

            return new Promise((resolve, reject) => {
                window.fbAsyncInit = function() {
                    try {
                        FB.init({
                            appId      : process.env.MIX_FB_APP_ID,
                            cookie     : true,
                            xfbml      : true,
                            version    : 'v3.2'
                        });    

                        FB.AppEvents.logPageView();

                        resolve();

                    } catch (error) {
                        reject(error);
                    }
                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/es_CO/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            });

            
        },
        flow(){
            this.fb_init()
            .then(() => {
                this.fb_get_login_status()
                .then((response) => {
                    console.log("profile already connected to app");
                    this.update_profile(response)
                    .then((response) => this.successResponse("Token de acceso actualizado"))
                    .catch((err) => this.errorResponse("No se pudo actualizar el token de acceso: "+ err));
                },
                (response) => {
                    console.log("profile not connected to app");
                    this.fb_login()
                    .then(this.save_profile,(err) => this.errorResponse("Hubo un error al guardar el token de acceso del perfil: "+err))
                    .then(() => this.successResponse("El perfil ha sido guardado correctamente"),
                        (err) => this.errorResponse("Hubo un error al guardar el token de acceso del perfil"+err)
                    );
                });
            })
            .catch((err) => {
                this.errorResponse("No se pudo conectar a Facebook: "+err);
            });

        },
        fb_get_login_status(){
            console.log("get login status ...");
            return new Promise((resolve, reject) => {
                try {
                    FB.getLoginStatus((fb_response) => {
                        if(fb_response){
                            if(fb_response.status == "connected"){
                                resolve(fb_response);
                            }
                            else {
                                reject(fb_response);
                            }
                        }
                    });    
                } catch (error) {
                    reject(error);
                }
                
            });
        },
        fb_login(fb_response){
            console.log('login to facebook ...');
            return new Promise((resolve, reject) => {
                FB.login((response) => {

                    if(response){
                        if(response.authResponse){
                            resolve(response);
                        }
                    }
                    else{
                        reject();
                    }

                }, {
                    scope: 'leads_retrieval,manage_pages,pages_show_list'
                });


            });
        },
        save_profile(response){
            console.log("saving profile ...");
            return axios.post('/access_token',{
                id: response.authResponse.userID,
                access_token: response.authResponse.accessToken,
            });
        },
        update_profile(response){
            console.log("updating profile ...");
            return axios.put('/access_token/'+response.authResponse.userID,{
                access_token: response.authResponse.accessToken,
            });
        }
    }
}
</script>

<style lang="css">
</style>
