<template lang="html">
    <tr>
        <td>
            {{ fbform.created_at }}
        </td>
        <td>
            {{ fbform.name }}
        </td>
        <td>
            {{ fbform.profile.fb_name }}
        </td>
        <td>
            {{ fbform.fanpage.fb_name }}
        </td>
        <td>
            <v-btn 
                    class="error" 
                    :loading="loader_delete_item"
                    @click="deleteItem()">
                    Eliminar
                    <v-icon right>delete</v-icon>
            </v-btn>
            
        </td>
    </tr>
</template>

<script>
import componentResponsesMixin from '../mixins/component_responses';

export default {
    props: ['fbform'],
    mixins: [componentResponsesMixin],
    data() {
        return {
            loader_delete_item: false
        }
    },
    methods: {
        deleteItem(){
            if (confirm('Seguro de borrar este item?')) {
                this.loader_delete_item = true;
                axios.delete('/form/'+this.fbform.id)
                .then((response) => {
                    this.$emit('remove-item');
                    this.successResponse(response);
                })
                .catch(this.errorResponse)
                .finally(() => this.loader_delete_item = false);
                
            }

            
        },
        
    }
}
</script>

<style lang="css">
</style>
