<template lang="html">
    <tr :class="getLeadStatus">
        <td>
            {{ lead.created_at }}
        </td>
        <td>
            {{ (lead.form) ? lead.form.name : null }}
        </td>
        <td>
            {{ (lead.profile) ? lead.profile.fb_name : null }}
        </td>
        <td>
            <span>
                <v-icon right>{{ getStatusIcon }}</v-icon>
            </span>
            {{ lead.status.name }}
        </td>
        <td>
            
            <v-btn flat color="info" :loading="loader_log" @click="log()">
                <v-icon right>list</v-icon>
                log
            </v-btn>
            <v-btn flat color="success" :loading="loader_resend" @click="resend()">
                <v-icon right>send</v-icon>
                reenviar
            </v-btn>
            <v-btn flat color="error" :loading="loader_delete" @click="deleteItem()">
                <v-icon right>delete</v-icon>
                borrar
            </v-btn>
                        
        </td>
    </tr>
</template>

<script>
import componentResponsesMixin from '../mixins/component_responses';

export default {
    props: ['lead'],
    mixins: [componentResponsesMixin],
    data() {
        return {
            loader_log: false,
            loader_resend: false,
            loader_delete: false,
        }
    },
    
    computed: {
        getLeadStatus(){
            let status;
            switch (this.lead.status_id) {
                case 1:
                    status = 'blue lighten-5';
                    break;
                case 2:
                    status = 'yellow lighten-5';
                    break;
                case 3:
                    status = 'red lighten-5';
                    break;
                case 4:
                    status = 'green lighten-5';
                    break;
                default:
                    status = 'grey lighten-5';
                    break;
            }
            return status;
        },
        getStatusIcon(){
            let icon;
            switch (this.lead.status_id) {
                case 1:
                    icon = 'new_releases';
                    break;
                case 2:
                    icon = 'pause';
                    break;
                case 3:
                    icon = 'error';
                    break;
                case 4:
                    icon = 'done';
                    break;
            
                
            }
            return icon;
        }
    },
    methods: {
        deleteItem(){
            
            if (confirm('Seguro de borrar este prospecto?')) {
                this.loader_delete = true;
                axios.delete('/lead/'+this.lead.id)
                .then((response) => {
                    this.$emit('remove-lead');
                    this.successResponse(response);
                })
                .catch(this.errorResponse)
                .finally(() => this.loader_delete = false);
                
            }
            

        },
        resend(){
            this.loader_resend = true;
            axios.get('/sendinglead/'+this.lead.id )
            .then(this.successResponse)
            .catch(this.errorResponse)
            .finally(() => {
                this.loader_resend = false;
                this.$emit('reload');
            });
        },
        log(){
            this.loader_log = true;
            axios.get('/notification/'+this.lead.id)
            .then((response) => {
                this.$emit('show-lead-log',response.data.data);
            })
            .catch(this.errorResponse)
            .finally(() => this.loader_log = false);
            
        }

    }
}
</script>

<style lang="css">
</style>
