<template lang="html">
    <tr :class="getProfileStatus">
        <td>
            {{ profile.id }}
        </td>
        <td>
            {{ profile.fb_name }}
        </td>
        <td>
            <span>
                <v-icon>{{ getIconProfileStatus }}</v-icon>
            </span>
            
            {{ formatAccessTokenExpireDays }}
        </td>
        <td>
                <!-- <v-btn 
                    flat
                    color="success" 
                    :loading="loader_restore" 
                    @click="restoreAccessToken()">
                    <v-icon right>autorenew</v-icon>
                </v-btn> -->
                <v-btn 
                    flat
                    color="error" 
                    :loading="loader_delete_token"
                    @click="deleteAccessToken()">
                    token
                    <v-icon right>delete</v-icon>
                </v-btn>
                <!-- <v-btn 
                    flat
                    color="warning" 
                    :loading="loader_pause_profile"
                    @click="pauseProfile()">
                    <v-icon right>pause</v-icon>
                </v-btn> -->
                <v-btn 
                    flat
                    color="error" 
                    :loading="loader_delete_item"
                    @click="deleteItem()">
                    perfil
                    <v-icon right>delete</v-icon>
                </v-btn>
            
        </td>
    </tr>
</template>

<script>
import componentResponsesMixin from '../mixins/component_responses';
import moment from 'moment';

export default {
    props: ['profile'],
    mixins: [componentResponsesMixin],
    data(){
        return {
            loader_restore: false,
            loader_delete_token: false,
            loader_delete_item: false,
            loader_pause_profile: false,
            expires_at_icon: '',
            profile_status: '',
        }
    },
    
    computed: {
        formatAccessTokenExpireDays(){
            return moment.unix(this.profile.fb_token_expires_at);
        },
        getIconProfileStatus(){
            let days_left = Number(this.getAccessTokenExpireDaysLeft());
            let status = null;
            
            if(days_left <= 0) {
                status = 'error';
                
            }
            else if(days_left > 0 && days_left < 5){
                status = 'warning';
                
            }
            else if(days_left => 5){
                status ='done';
                
            }
            return status;
        },
        getProfileStatus(){
            let days_left = Number(this.getAccessTokenExpireDaysLeft());
            let status = null;
            
            if(days_left <= 0) {
                status = 'red lighten-5';
                
            }
            else if(days_left > 0 && days_left < 5){
                status = 'yellow lighten-5';
                
            }
            else if(days_left => 5){
                status = 'green lighten-5';
                
            }
            return status;
        }
    },
    methods: {
        getAccessTokenExpireDaysLeft(){
            let expires_at = moment.unix(Number(this.profile.fb_token_expires_at));
            return expires_at.diff(moment().utc(),'days');
        },
        restoreAccessToken(){
            this.loader_restore = true;
            axios.put('/access_token/'+this.profile.fb_id,{
                params: {
                    access_token: this.profile.fb_access_token
                }
            })
            .then(this.successResponse)
            .catch(this.errorResponse)
            .finally(() => this.loader_restore = false);
        },
        deleteAccessToken(){
            if (confirm('Seguro de borrar este token de acceso?')) {
                this.loader_delete_token = true;
                axios.delete('/access_token/'+this.profile.fb_id)
                .then((response) => {
                    this.$emit('remove-token',this.profile);
                    this.successResponse(response);
                })
                .catch(this.errorResponse)
                .finally(() => this.loader_delete_token = false);
                
            }
        },
        deleteItem(){
            if (confirm('Seguro de borrar este item?')) {
                this.loader_delete_item = true;
                axios.delete('/profile/'+this.profile.fb_id)
                .then((response) => {
                    this.$emit('remove-item');
                    this.successResponse(response);
                })
                .catch(this.errorResponse)
                .finally(() => this.loader_delete_item = false);
                
            }

            
        },
        pauseProfile(){
            if (confirm('Seguro de pausar este perfil?')) {
                this.loader_delete_item = true;
                axios.delete('/profile/'+this.profile.id)
                .then((response) => {
                    this.$emit('remove-item');
                    this.successResponse(response);
                })
                .catch(this.errorResponse)
                .finally(() => this.loader_delete_item = false);
                
            }
        }

    }
}
</script>

<style lang="css">
</style>
