<template>
    <v-snackbar
        v-model="show"
        color="color"
    >   
        <slot></slot>
        <v-btn flat color="primary" @click.native="show = false">Cerrar</v-btn>
    </v-snackbar>
</template>
<script>
export default {
    data() {
        return {
            show: false,
            color: '',

        }
    },
    methods: {
        
    },
}
</script>